p 当前服务器时间：#{servertime}
div.container
    div.row
        div.col-sm-6
            div.form-group
                div#datetimepicker.input-group.date
                    input.form-control
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                button#submit-time.btn.btn-default 提交
        script(src='/public/javascripts/datepicker.js')
